<section>
  <header>
    <h1>Cat cap</h1>
  </header>
  <article>
    <figure>
      <%= image_tag asset_path("cathat.jpeg")%>
      <figcaption>Un chapeau de chat avec la magie de <strong>psykocapwak</strong></figcaption>
    </figure>
    <h2>Description de Cat cap, le kitten hat de <strong>psykocapwak corporation</strong></h2>
    <p>
      <br/>
      Cat cap kesako? 
      <br/><br/>
      C'est une casquette/chapeau fait à partir d'un vrai chat. Chez <strong>Psykocapwak</strong> corporation, nous ne lésinons pas sur la qualité.
      <br/>
      Et avec <strong>psykocapwak</strong> corporation et la grande offre de lancement elle ne vous coûtera que vos gonades !
      <br/>
      Secret ++ mais chut, elle vous permettra de chanter du nyan nyan cat à longueur de journée!
      <br/><br/>
      Alors n'hésitez pas !
    </p>
  </article>
</section>