<% provide :title, "Psykocapwak" %>
<% content_for(:meta_description, "Psykocapwak kesako? C'est une super casquette révolutionnaire qui donne à celui qui le porte des supers pouvoirs")%>
<h2>Simple cap</h2>
  <figure>
    <%= image_tag asset_path("duckhat.jpg")%>
    <figcaption>Un chapeau de canard avec la magie de <strong>psykocapwak</strong></figcaption>
  </figure>
<h2>Swim cap</h2>
  <figure>
    <%= image_tag asset_path("duckhatwatter.jpeg")%>
    <figcaption>Un chapeau résistant à l'eau de canard avec la magie de <strong>psykocapwak</strong></figcaption>
  </figure>
<h2>Cat Cap</h2>
  <figure>
    <%= image_tag asset_path("cathat.jpeg")%>
    <figcaption>Un chapeau de chat avec la magie de <strong>psykocapwak</strong></figcaption>
  </figure>