<section>
  <header>
    <h1>Swim cap</h1>
  </header>
  <article>
    <figure>
      <%= image_tag asset_path("duckhatwatter.jpeg"), :size=>'292x292'%>
      <figcaption>Un chapeau résistant à l'eau de canard avec la magie de <strong>psykocapwak</strong></figcaption>
    </figure>
    <h2>Description de Swim cap, la casquette waterproof de <strong>psykocapwak corporation</strong></h2>
    <p>
      <br/>
      Swim cap c'est quoi? 
      <br/><br/>
      C'est une casquette qui fait partie de la marque <strong>Psykocapwak</strong> qui donne des pouvoirs basiques sous l'eau.
      <br/>
      Et avec <strong>psykocapwak</strong> corporation, vous n'aurez qu'à tuer votre mère pour la possèder !
      <br/>
      Elle ne coûte que 2 reins !
      <br/><br/>
      Alors n'hésitez pas !
    </p>
  </article>
</section>