body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

figure {
   width : 332px;
   padding : 6px;
   background : white; 
   margin : 0 11px 0px 0;
   border :solid 1px #888888;	
   border-radius : 8px ;
   -moz-border-radius : 8px ;
   -webkit-border-radius : 8px ;
}

figcaption {
   font-size : .8em;
   padding : 6px 8px;
   background : #dddddd; 
   display :block;
   text-align :center;
   font-family : georgia, serif;
   font-style : italic;
   border-radius : 0 0 7px 7px ;
   -moz-border-radius : 0 0 7px 7px ;
   -webkit-border-radius : 0 0 7px 7px ;
}


img {
   background : #eeeeee;
   padding : 5px;
   border : solid 1px #444444;
}

ul li{
  list-style-type: none;
}

/** Navigation **/
nav {
	height: 40px;
	list-style-type: none;
	margin: 0;
	padding: 8px 20px 12px 0;
}
nav li {
	float: left;
	font-family: 'CorbenBold';
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	width: 186px;
	text-align: center;
}
nav a {
	color: #9d7912;
	text-decoration: none;
}
nav a:hover, nav li.selected a {
	color: #f9f9f5;
	text-shadow: 1px 1px 0 #a8840b;
}
